body {
  width: 100%;
}

ul {
  list-style-type: none;
}

header .nav {
  display: flex;
  flex-direction: row;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav a {
  padding: 1em;
  display: block;
  text-align: center;
  text-decoration: none;
}
.nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.menu a {
  color: rgb(94, 94, 94);
}

.menuMore {
  width: 70%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  max-width: 50%;
  min-width: 10%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.line {
  display: flex;
  flex-direction: column;
}
hr {
  display: flex;
  flex-direction: column;
  width: auto;
}
.containerli {
  display: inline-block;
  justify-content: space-between;
}

.connexion {
  border-radius: 100%;
  background-color: cornflowerblue;
  border-style: none;
}

.connexion a {
  color: white;
  font-size: 100%;
}
